@import "reset.css";

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpoqaHanSansNeo-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  font-family: "SpoqaHanSansNeo-Regular";
}

.wrapper {
  width: 400px;
  height: 200px;
  padding: 30px 25px;
  background-color: #fff;
  position: relative;
}

.login {
  width: 350px;
  height: 140px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 20px 16px 18px;
}

.login .welcome {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 15px;
}

.login .loginBtn {
  display: block;
  width: 318px;
  height: 40px;
  border-radius: 4px;
  background-color: #711bff;
  padding: 10px 108px 12px;
  margin-bottom: 17px;
}

.login .loginBtn .loginText {
  padding-top: 2px;
  padding-left: 68px;
  width: 102px;
  height: 18px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  font-family: "SpoqaHanSansNeo-Medium";
  line-height: 15px;
  font-weight: 500;
  position: relative;
}

.login .loginBtn .loginText::before {
  content: "";
  width: 64px;
  height: 18px;
  background-image: url(./imgs/weniv-logo.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.login .bottomText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}

.login .bottomText .findIdPw {
  display: block;
  width: 133px;
  height: 16px;
  padding-top: 1px;
  position: relative;
}

.login .bottomText .findId {
  padding: 0 4px 0 20px;
}

.login .bottomText .findId::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(./imgs/icon-lock.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.login .bottomText .findId::after {
  content: "";
  width: 1px;
  height: 13px;
  background-color: #767676;
  position: absolute;
  top: 2px;
  left: 58px;
}

.login .bottomText .findPw {
  padding-left: 4px;
}

.login .join {
  display: block;
  width: 65px;
  height: 16px;
  padding-top: 1px;
  padding-left: 20px;
  position: relative;
}

.login .join .joinText::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(./imgs/icon-user.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
